@import "../variables";

.achievement-card {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .achievement-card__img-wrap {
    background: #FEEEE7;
    background: radial-gradient(circle at center, #FEEEE7 0, #FEEEE7 60px, transparent 60px);
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    @include respond-to(sm) {
      background: radial-gradient(circle at center, #FEEEE7 0, #FEEEE7 30px, transparent 30px);
      height: 60px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .achievement-card__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include respond-to(sm) {
      display: none;
    }
  }

  .achievement-card__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .achievement-card__description {
    color: #666666;
    margin-bottom: 10px;
  }

  .achievement-card__stats {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: auto;

    .achievement-card__coins {
      color: #F6B545;
      display: flex;
      align-items: center;
      margin-right: 15px;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .achievement-card__xp {
      color: #2F9826;
      margin-left: 15px;
    }
  }

  .achievement-card__count {
    border: 1px solid #FB5A16;
    padding: 4px 13px 6px 13px;
    border-radius: 999px;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
  }
}