@import "../variables";

.achievement-modal {
  font-size: 14px;
  line-height: 19px;
  display: flex;

  .achievement-modal__body {
    display: flex;

    @include respond-to(md) {
      flex-direction: column;
    }
  }

  .achievement-modal__img {
    width: 100px;
    height: 100px;
    margin-right: 60px;
  }

  .achievement-modal__stats {
    display: flex;
  }

  .achievement-modal__coins {
    margin-right: 30px;
    color: #F6B545;
    font-weight: bold;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .achievement-modal__xp {
    color: #2F9826;
    font-weight: bold;
  }
}