.achievement-stat {
  display: inline-flex;
  max-width: 140px;
  margin-right: 40px;
  align-items: center;

  &:last-of-type {
    margin-right: 0;
  }

  .achievement-stat__value {
    font-size: 36px;
    line-height: 44px;
    color: #FB5A16;
    margin-right: 15px;
  }

  .achievement-stat__label {
    font-size: 14px;
    line-height: 17px;
  }
}