.advantage-card {
  width: 220px;
  font-size: 14px;
  line-height: 19px;
  color: white;
  text-align: center;

  @include respond-to(lg) {
    margin-bottom: 58px;
  }

  .advantage-card__img-wrap {
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-bottom: 45px;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
  }
}
