.check-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: italic;

  li {
    display: flex;
    margin-bottom: 20px;
    &:before {
      content: "";
      font-style: normal;
      font-family: "Font Awesome 5 Free", sans-serif;
      font-weight: 900;
      color: #FB5A16;
      margin-right: 15px;
      background: #D3F1C2;
      height: 25px;
      width: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    &.checked:before {
      content: "\F00C";
    }
  }

  &.check-list_style-2 {
    font-style: normal;
    li:before {
      content: "\F00C";
      background: #c9bfc1;
      color: white;
      flex-shrink: 0;
    }

    li.checked:before {
      background: #FC523A;
    }
  }
}