@import "../variables";

.collapse-item {
  margin-bottom: 20px;
  width: 100%;
  max-width: 840px;

  .collapse-item__toggler {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: #F6F6F6;
    padding: 16px 40px;

    &[aria-expanded="true"] {
      .collapse-item__sign {
        background: url('../images/minus.svg') no-repeat center;
      }
    }
  }

  .collapse-item__sign {
    width: 23px;
    height: 23px;
    background: url('../images/plus.svg');
    flex-shrink: 0;
    margin-left: 10px;
  }

  .collapse-item__body {
    background: #F6F6F6;
    padding: 16px 40px;
  }

  @include respond-to(sm) {
    margin-left: -20px;
    margin-right: -20px;
    padding: 16px 20px;
  }

  &.collapse-item_index {
    margin-bottom: 15px;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;

    @include respond-to(md) {
      font-size: 15px;
      line-height: 18px;

      .collapse-item__toggler {
        padding: 15px;
      }

      .collapse-item__body {
        padding: 25px;
        padding-top: 0;
      }
    }
  }
}