.congratulations-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.30);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 45px;

  .congratulations-card__img {
    margin-bottom: 36px;
  }

  .congratulations-card__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  a {
    color: #FB5A16;
    &:hover {
      text-decoration: none;
    }
  }
}