@import '../variables';

.course-card {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
  display: flex;

  @include respond-to(md) {
    flex-direction: column;
  }

  &__img {
    margin-right: 40px;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);

    @include respond-to(md) {
      width: 70px;
      height: 70px;
      margin-bottom: 20px;
    }
  }

  &__content {
    display: flex;

  }

  &__content-extra {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__content-info {
    margin-right: 60px;
    max-width: 780px;
  }

  &__title {
    color: black;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bold;
  }

  &__list {
    margin-bottom: 10px;

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;

      li {
        margin-bottom: 10px;
        padding-left: 40px;
        position: relative;

        &::before {
          position: absolute;
          left: 2px;
          top: 25%;
          content: "";
          width: 10px;
          height: 10px;
          border: 1px solid #FB5A16;
          border-radius: 50%;
          background: #fff;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__progress {
    font-weight: bold;
    font-size: 20px;
    color: #AAAAAA;
    text-align: center;
    line-height: 24px;
    margin-bottom: 10px;

    span {
      font-weight: normal;
      font-size: 24px;
      color: #2F9826;
      line-height: 29px;
    }

  }

  .btn {
    white-space: nowrap;
  }

  .course-card__details {
    padding-top: 30px;
  }

  .course-card__toggler {
    padding: 0;
    border: none;
    font: inherit;
    color: #FB5A16;

    &:focus {
      outline: none;
    }

    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    transition: transform 0.2s ease-in;

    &[aria-expanded="true"] {
      transform: rotate(180deg);
    }
  }
}