@import '../variables';

.exam {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
  border-radius: 20px;

  &__img {
    border-radius: 20px 0 0 20px;
    width: 540px;
    background: url('../images/man-coding.jpg');
    background-size: cover;
    flex-shrink: 0;

    @include respond-to(xl) {
      width: 280px;
    }

    @include respond-to(lg) {
      display: none;
    }
  }

  &__content {
    padding-top: 45px;
    padding-bottom: 40px;
    text-align: center;
    color: black;
    width: 100%;

    &-title {
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 39px;
      font-weight: bold;

      @include respond-to(sm) {
        font-size: 24px;
        line-height: 29px;
      }
    }

    &-subtitle {
      max-width: 520px;
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 34px;
      line-height: 29px;

      @include respond-to(sm) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    .btn {
      min-width: 220px;

    }
  }
}