.marked-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: italic;
  font-weight: bold;

  li {
    display: flex;
    margin-bottom: 20px;

    &:before {
      font-style: normal;
      font-family: "Font Awesome 5 Free", sans-serif;
      content: "\F00C";
      font-weight: 900;
      color: #FB5A16;
      margin-right: 15px;
      flex-shrink: 0;
    }
  }

  &.marked-list__horizontal {
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1;
    }
  }

  &.marked-list_circle {
    color: #222222;
    font-weight: 300;
    li {

      &:before {
        content: "";
        width: 5px;
        height: 5px;
        background-image: linear-gradient(-45deg, #F31542 0%, #FF7D00 100%);
        border-radius: 50%;
        margin-top: 8px;
      }
    }
  }
}