@import "../variables";

.modal {
  display: flex !important;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000000;
  left: 0;
  top: -999999px;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background 0.2s ease-in;
  font-size: 14px;

  &.show {
    top: 0;
    background: rgba(0, 0, 0, 0.75);

    .modal__content {
      transform: scale(1);
      opacity: 1;
    }
  }

  .modal__content {
    width: 400px;
    max-width: 100%;
    max-height: 80vh;
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    background: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    display: flex;
  }

  .modal__body {
    max-height: 100%;
    width: 100%;
    padding: 40px 60px;

    @include respond-to(sm){
      padding: 15px 15px;
    }
  }

  [data-action="close"] {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;

    z-index: 10;
    color: #dedede;
    top: -40px;
    right: 10px;
    font-size: 30px;

    &:hover {
      color: #ff7c8b;
    }
  }

  .modal__image {
    width: 100%;
    height: 280px;
    margin-bottom: 40px;
    background-size: cover;
  }
}