@import "../variables";

.offer {
  color: white;
  display: flex;

  p {
    margin-bottom: 0;
    margin-right: 20px;
  }

  @include respond-to(lg) {
    justify-content: space-between;
    width: 100%;
  }

  @include respond-to(sm) {
    flex-direction: column;
    align-items: center;

    p {
      margin-right: 0;
      margin-bottom: 15px;
      text-align: center;
    }
  }
}
