@import "../variables";

.page-block {
  padding: 40px;
  border-radius: 20px;
  background: white;

  @include respond-to(sm){
    padding: 40px 20px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
  }
}