.popup {
  width: 320px;
  padding: 20px 30px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: white;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  transition: all 0.2s ease-in;
  transform: translateY(100px);
  opacity: 0;
  pointer-events: none;

  &.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}