@import "../variables";

.profession-card {
  display: flex;
  position: relative;
  align-items: stretch;

  @include respond-to(lg) {
    flex-direction: column;
  }

  .profession-card__video-block, .profession-card__description {
    width: 50%;
    min-height: 700px;

    @include respond-to(lg) {
      width: 100%;
      min-height: 320px;
    }
  }

  .profession-card__video-block {
    border-radius: 0;
  }

  .profession-card__description {
    background: white;
    padding: 100px 70px;

    @include respond-to(lg) {
      padding: 70px;
    }

    @include respond-to(md) {
      padding: 30px;
    }
  }

  .profession-card__description-body {
    max-width: 400px;
    margin-right: auto;
  }

  .profession-card__salary-badge {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;

    @include respond-to(lg) {
      top: 215px;
      bottom: auto;
      left: auto;
      right: 25px;
    }
  }

  .video-block__btn-play {
    top: 60px;
    left: 60px;
    margin: 0;

    @include respond-to(lg) {
      left: 60px !important;
      right: auto !important;
    }

    @include respond-to(md) {
      top: 25px;
      left: 25px !important;
      right: auto !important;
    }
  }

  &.profession-card_right {
    .profession-card__description-body {
      margin-left: auto;
      margin-right: 0;

      @include respond-to(lg) {
        margin-right: auto;
        margin-left: 0;
      }
    }

    .profession-card__video-block {
      order: 2;

      @include respond-to(lg) {
        order: 0;
      }
    }

    .video-block__btn-play {
      left: auto;
      right: 60px;
    }
  }
}