@import "../variables";

.review {
  text-align: center;
  position: relative;

  .review__quote {
    font-size: 70px;
    position: absolute;
    color: #fa551a26;
  }

  .review__quote_left {
    left: 0;
  }

  .review__quote_right {
    right: 0;
    transform: rotate(180deg);
  }

  .review__img {
    width: 140px;
    height: 140px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .review__name {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }

  .review__text {
    margin: 0 100px;
  }

  @include respond-to(md) {
    .review__quote {
      font-size: 30px;
    }

    .review__text {
      margin: 0;
    }
  }
}