.salary-badge {
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.10);
  padding: 12px;
  color: black;

  .salary-badge__value {
    font-size: 30px;
    line-height: 36px;
    color: #F83F29;
    font-weight: 900;
    font-style: normal;
  }
}