@import "../variables";

.sign-modal {

  .modal__content {
    max-height: 85vh;
  }

  .sign-modal__tabs {
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    margin-bottom: 30px;
    font-weight: bold;
    border: none;

    @include respond-to(sm) {
      padding: 0;
    }

    a {
      color: gray;
    }

    .active {
      color: black;
    }

    .nav-link {
      border: none;
    }
  }

  .sign-modal__remember-pas {
    font-size: 16px;
    position: absolute;
    margin-top: 8px;
    right: 15px;
  }

  .sign-modal__social-auth-label {
    position: relative;
    text-align: center;
    font-weight: bold;

    span {
      background: white;
      position: relative;
      padding: 0 10px;
      z-index: 2;
    }

    &:before {
      content: "";
      width: 100%;
      display: block;
      height: 1px;
      transform: translateY(12px);
      border-bottom: 1px solid #EEEEEE;
    }
  }

  .sign-modal__social-btn {
    width: 120px;
    border: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 999px;
    padding: 5px 0;

    img {
      width: 25px;
      height: 25px;
    }
  }
}