@import '../variables';

.slider__btn {
  width: 30px;
  height: 30px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 200px;
  cursor: pointer;
  z-index: 1;
}

.slider__btn_left {
  left: 3px;
}

.slider__btn_next {
  right: 3px;
}

@include respond-to(md) {
  .slider__btn {
    top: 60px;
  }
}