@import "../variables";

.slider-people {
  .slider-people__slide-body {
    display: flex;
    align-items: flex-start;

    @include respond-to(lg) {
      flex-direction: column;
    }
  }

  .slider-people__left {
    position: relative;
    margin-right: 90px;

    @include respond-to(lg) {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 90px;
    }
  }

  .slider-people__img {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 15px 0 15px 0;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      transform: translate(10px, 10px);
      background: linear-gradient(-45deg, #F31542 0%, #FF7D00 100%);
      border-radius: 20px 0 20px 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  .slider-people__salary-badge {
    position: absolute;
    bottom: 28px;
    right: -20px;
  }

  .slider-people__right {
    padding-top: 15px;
  }

  .slider-people__navbar {
    display: flex;
    width: 265px;
    height: 18px;
    position: absolute;
    top: 330px;
    justify-content: center;
    z-index: 2;

    @include respond-to(lg) {
      left: 0;
      right: 0;
      margin: auto;
    }

    &.slider-people__navbar_light {
      .slider-people__prev, .slider-people__next {
        background-image: url('../images/slider-people-caret-white.svg');
      }

      .swiper-pagination-bullet {
        background-image: url('../images/slider-people-bullet-white.svg');
      }
    }
  }

  .slider-people__prev, .slider-people__next {
    width: 11px;
    height: 18px;
    background: url('../images/slider-people-caret.svg') no-repeat;
    cursor: pointer;

    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }

  .slider-people__next {
    transform: rotate(180deg);
  }

  .slider-people__pagination {
    display: flex;
    margin: 0 33px;
  }

  .swiper-pagination-bullet {
    width: 11px;
    height: 18px;
    padding: 0 8px;
    background: url('../images/slider-people-bullet.svg') no-repeat;
    cursor: pointer;

    &.swiper-pagination-bullet-active {
      background: url('../images/slider-people-bullet-active.svg') no-repeat !important;
    }
  }
}