@import "../variables";

.story-card {
  width: 490px;
  height: 320px;
  display: inline-flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 24px;
  padding: 30px 15px 30px 30px;
  font-size: 20px;
  line-height: 24px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
  border-radius: 4px;
  font-weight: bold;
  overflow: hidden;

  @include respond-to(lg) {
    width: 320px;
    height: 209px;
  }

  @include respond-to(md) {
    width: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.2) 64%, rgba(0, 0, 0, 0.62) 100%);
    left: 0;
    top: 0;
  }

  .story-card__title {
    color: white;
    position: relative;
  }
}