@import "../variables";

$secondary-font: Fira Sans, sans-serif;

.tariff-card {
  padding: 45px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
  border-radius: 5px 5px;
  overflow: hidden;
  position: relative;
  transition: transform 0.05s ease-in;

  @include respond-to(xl) {
    padding: 45px 20px;
  }

  &:hover {
    transform: scale(1.1);
    z-index: 1;
  }

  .tariff-card__title {
    font-family: $secondary-font;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .tariff-card__price {
    font-family: $secondary-font;
    color: #FA551A;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 60px;
    font-weight: bold;
  }

  .tariff-card__header {
    text-align: center;
    margin-bottom: 40px;
  }

  .tariff-card__promo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 11px;

    .tariff-card__old-price, .tariff-card__price {
      margin: 0 15px;
    }

    .tariff-card__old-price {
      font-family: $secondary-font;
      color: #666666;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #666666;
        bottom: 0;
        top: 0;
        margin: auto;
      }
    }

    .tariff-card__price {
      font-size: 26px;
      line-height: 37px;
      margin-bottom: 0;
    }
  }

  .tariff-card__price-detail {
    font-family: $secondary-font;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .tariff-card__badge {
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: bold;
    line-height: 12px;
    color: white;
    text-align: center;
    background: linear-gradient(-45deg, #F31542 0%, #FF7D00 100%);
    position: absolute;
    top: 7px;
    right: -106px;
    width: 100px;
    height: 40px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(25deg);
    box-sizing: content-box;
  }

  .tariff-card__badge_green {
    background: #79D131;
  }
}