@import "../variables";

.video-block {
  width: 360px;
  height: 250px;
  position: relative;
  border-radius: 20px 0 20px 0;
  overflow: hidden;

  @include respond-to(md) {
    height: 170px;
    max-width: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, #F3154299 0%, #FF7D0099 100%);
  }

  .video-block__preview {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .video-block__btn-play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}