@import "../variables";

.btn {
  display: inline-block;
  border-radius: 999px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  padding: 10px 30px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
  max-width: 320px;

  &.btn_light {
    color: #333333;
    background: white;

    &.btn_outline {
      color: white;
      border: 1px solid white;
      background: none;
    }
  }

  &.btn_primary {
    background: linear-gradient(45deg, #F31542 0%, #FF7D00 100%);
    color: white;
  }

  .fa-chevron-right {
    margin-right: -15px;
    margin-left: 25px;
  }

  &.btn_circle {
    width: 50px;
    height: 50px;
    padding: 0;
  }
}

.btn-play {
  background: url('../images/icon-play.svg');
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  border: none;
}