@import "../variables";

.input {
  margin-bottom: 1rem;
  width: 100%;
  position: relative;

  input, textarea, select {
    width: 100%;
    color: black;
    background-color: #EEEEEE;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    padding: 10px 15px;

  }

  &__required {
    position: absolute;
    margin-top: 13px;
    right: 20px;
    color: red;
  }

  &_error {
    input, textarea {
      border: 1px solid red;
    }
  }

  &__error {
    color: #FF0000;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
  }

  label {
    margin-left: 15px;
    font-weight: bold;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }

    background-color: #EEEEEE;
    background-image: url('../images/icon-caret-down.svg');
    background-repeat: no-repeat;
    background-position: 98% center;

    @include respond-to(md){
      background-position: 94% center;
    }
  }

  &.input_light {
    input, textarea, select {
      background-color: #FFFFFF;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
      padding: 10px 25px;

      &::placeholder {
        color: black;
      }
    }

    select {
      background-color: #white;
      background-image: url('../images/icon-caret-down.svg');
    }
  }
}

.input-cb {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;

  label {
    margin-bottom: 0;
  }

  input:disabled + label {
    opacity: 0.5;
  }

  input[type=checkbox] {
    opacity: 0;
    position: absolute;

    & ~ label {
      cursor: pointer;
      padding-left: 35px;
      align-items: center;

      &::before {
        content: "";
        flex-shrink: 0;
        color: inherit;
        border: none !important;
        box-shadow: none !important;
        align-items: center;
        font-size: 25px;
        line-height: 1;
        transition: transform 0.1s ease-in;
        border-radius: 0;
        background-color: #00000030;
        top: 0;
        bottom: 0;
        left: 0;
        width: 25px;
        height: 25px;
        font-weight: 900;
        text-align: center;
        position: absolute;
        margin: auto;
      }

      &::after {
        content: none !important;
      }

    }

    &:checked ~ label::before {
      content: "✓";
    }

    &:active ~ label::before {
      transform: scale(0.8);
    }
  }
}

.input-file {
  display: flex;
  padding-left: 15px;
  flex-wrap: wrap;

  label {
    width: 100%;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: black;
  }

  .input-file__image {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
  }
}