@import "../variables";

table.table {
  width: 100%;
  margin-bottom: 50px;
  overflow-y: hidden;

  thead {
    border-bottom: 2px solid $dark;
    font-weight: bold;
  }

  tr {
    border-bottom: 2px solid #eeeeee;

    td {
      padding: 25px 30px;
    }
  }

  tbody {
    td {
      position: relative;

      &:after {
        content: "";
        background: #eeeeee;
        width: 1px;
        height: 30px;
        position: absolute;
        bottom: -15px;
        right: 0;
      }

      &:last-of-type {
        &:after {
          content: none;
        }
      }
    }
  }
}