@import "../variables";

.tariffs {
  display: flex;
  margin-bottom: 120px;

  @include respond-to(md){
    margin-bottom: 60px;
  }

  .tariff-card {
    flex: 1;
    margin: 0 7px;
  }

  @include respond-to(lg) {
    flex-direction: column;
    align-items: center;

    .tariff-card {
      width: 340px;
      margin: 0 0 20px;
    }
  }

  @include respond-to(sm) {
    .tariff-card {
      width: 100%;
    }
  }
}

.your-tariff {
  border: 1px solid #FA551A;
  padding: 0 70px;
  margin: 0 50px 120px;
  border-radius: 5px;

  @include respond-to(md){
    margin-bottom: 60px;
  }

  .your-tariff__title-wrap {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .your-tariff__title {
    font-family: Fira Sans, sans-serif;
    background: white;
    font-weight: 500;
    padding: 0 10px;
    transform: translateY(-50%);
  }

  .your-tariff__btn-wrap {
    text-align: center;
    transform: translateY(17px);
  }

  @include respond-to(xl) {
    margin-left: 0;
    margin-right: 0;
    padding: 0 50px;
  }

  @include respond-to(md) {
    padding: 0 20px;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;

  .collapse-item__body {
    font-style: italic;
    padding: 30px 0 0 0;
  }

  @include respond-to(md) {
    margin-left: -20px;
    margin-right: -20px;
  }
}