@import "../variables";

$avatar-border-width: 4px;

.profile {
  position: relative;
  z-index: 1;
  color: white;
  margin: 0 20px 47px 20px;

  @include respond-to(xl) {
    margin: 0 0 47px 0;
  }

  .profile-info {
    display: flex;
    margin: 0 20px;

    @include respond-to(lg) {
      margin: 0 0 60px;
    }

    @include respond-to(md) {
      flex-direction: column;
      align-items: center;
    }

    .profile-info__avatar {
      width: 220px;
      height: 220px;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      margin-right: 60px;
      position: relative;
      background-clip: padding-box;
      border: solid $avatar-border-width transparent;
      flex-shrink: 0;

      @include respond-to(md) {
        margin-right: 0;
      }

      &:before {
        content: "";
        background: linear-gradient(to bottom, #FF7D00, #F31542);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        margin: -$avatar-border-width;
        border-radius: 50%;
      }
    }

    .profile-info__description {
      padding-top: 15px;
      flex-grow: 1;
    }

    .profile-info__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      @include respond-to(sm) {
        justify-content: center;
      }
    }

    .profile-info__user {
      font-size: 38px;
      line-height: 46px;
      font-weight: bold;
    }

    .profile-info__settings {
      font-size: 18px;
      line-height: 22px;
      color: white;
      border-bottom: 1px dashed;
      padding-bottom: 3px;
      margin-left: auto;

      @include respond-to(lg) {
        display: none;
      }

      &:hover {
        color: #FB5A16;
        text-decoration: none;
      }
    }

    .profile-info__stats {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @include respond-to(sm) {
        justify-content: center;
      }
    }

    .profile-info__status {
      background: white;
      border-radius: 999px;
      color: #FB5A16;
      font-style: italic;
      display: inline-flex;
      padding: 4px 16px 7px 16px;
      margin-right: 25px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.20);

      @include respond-to(lg) {
        margin-bottom: 35px;
      }
    }

    .profile-info__coins {
      font-weight: bold;
      margin-right: auto;

      @include respond-to(lg) {
        margin-bottom: 35px;
      }

      @include respond-to(sm) {
        margin-right: 0;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    .profile-info-subscribe {
      display: flex;
      background: rgba(0, 0, 0, 0.20);
      border-radius: 8px;
      font-size: 14px;
      line-height: 17px;
      width: 240px;
      padding: 8px 16px;
      align-items: center;

      .profile-info-subscribe__days {
        color: #FB5A16;
        font-size: 36px;
        line-height: 44px;
      }

      .profile-info-subscribe__label {
        padding: 0 16px;
      }
    }
  }

  .profile-bar {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-left: 280px;
    margin-top: -35px;
    padding: 0 20px;

    @include respond-to(lg) {
      margin-top: 0;
      margin-left: 0;
      padding: 0;
    }

    .profile-bar__level {
      background: #000000;
      border-radius: 999px;
      color: #FB5A16;
      padding: 4px 13px 6px 13px;
    }

    .profile-bar__progress {
      background: #E1E1E1;
      flex-grow: 1;
      height: 16px;
      margin-left: -3px;
      margin-right: -3px;
      z-index: -1;

      .profile-bar__value {
        height: 100%;
        position: relative;
        background: repeating-linear-gradient(-45deg, transparent, transparent 5px,
                rgba(255, 255, 255, 0.25) 5px, rgba(255, 255, 255, 0.25) 10px),
        linear-gradient(to left, #FF7D00, #F31542);
        border-radius: 0 999px 999px 0;

        .profile-bar__label {
          color: #2F9826;
          background: white;
          position: absolute;
          padding: 8px 15px;
          right: 0;
          top: -10px;
          transform: translate(50%, -100%);
          border-radius: 999px;
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.30);
          white-space: nowrap;

          @include respond-to(sm) {
            font-size: 12px;
          }

          &:before {
            content: "";
            width: 15px;
            height: 15px;
            background: white;
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            margin: auto;
            transform: rotate(45deg);
            z-index: -1;
          }
        }

      }
    }

    .profile-bar__next-level {
      line-height: 1;
      background: white;
      color: black;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.20);
    }
  }
}