.training {
  display: flex !important;
  min-height: 100vh;
  margin-top: -100px;
  padding-top: 60px;

  &.collapsing {
    transition: none !important;
  }

  .training-content-toggler {
    width: 40px;
    background: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .training-content-toggler__label {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin: auto;
    transform: rotate(-90deg) translateY(-43px);
  }

  .training-content-toggler__btn {
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FB5A16;
    cursor: pointer;
    font-size: 16px;
    z-index: 11;
    position: absolute;
    left: 26px;
    top: 86px;
    transition: all 0.2s ease-in;
  }

  .training-redactor {
    background: #222222;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;

    .training-redactor__tabs {
      background: #444444;
      margin: 0;
      padding: 0 0 0 40px;
      list-style: none;
      display: flex;
      border-bottom: none;

      li {
        height: 40px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;

      }

      a {
        color: white;
        background: #333333;
        border: none;
        padding: 10px 20px;
        border-radius: 0;
        height: 100%;

        &.active {
          background: #222222;
        }
      }
    }

    .training-redactor__body {
      height: 100%;
      padding: 25px 20px;
      display: flex;
      flex-direction: column;

      .tab-content, .tab-pane {
        height: 100%;
      }
    }

    .ace_gutter, .ace-dracula {
      background: none;
    }

    .training-redactor__task {
      background: #333333;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
      border-radius: 5px;
      padding: 20px;
      position: relative;
      margin-bottom: 20px;
      margin-top: 12px;
    }

    .training-redactor__task-coins {
      display: inline-flex;
      background: white;
      color: black;
      border-radius: 999px;
      padding: 2px 10px 2px 2px;
      font-size: 12px;
      font-weight: bold;
      top: -12px;
      right: 20px;
      position: absolute;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .training-redactor__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .training-redactor__check-btn {
      margin-right: 15px;
    }

    .training-redactor__nav-task {
      display: flex;
      align-items: center;
      width: 250px;
      justify-content: space-between;
      color: #FB5A16;
    }

    .training-redactor__nav-task-btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
      border-radius: 50%;
      cursor: pointer;
      outline: none !important;

      &.swiper-button-disabled {
        opacity: 0.3;
      }
    }
  }

  .training-result {
    width: 50%;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;

    .training-result__title {
      box-sizing: content-box;
      height: 40px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #bfbfbf;
      flex-shrink: 0;
    }

    .training-result__body {
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }

    .training-result__out {
      height: 100%;
    }

    .training-result__menu {
      display: flex;
      justify-content: space-between;
    }

    .training-result__refresh-btn {
      background: none;
      border: none;
      padding: 0;
      color: #FB5A16;
    }

    .training-result__hint {
      display: flex;

      .fas {
        border: none;
        height: 36px;
        width: 36px;
        background: #333333;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.20);
      }
    }

    .training-result__hint-label {
      margin-right: 40px;
    }
  }

  .training-content {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: background 0.2s ease-in;
    display: flex;
    pointer-events: none;
    z-index: 10;

    .training-content__scroll-container {
      height: 100%;
      margin-bottom: 60px;
    }

    .training-content__body {
      background: white;
      width: 50%;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      transform: translateX(-100%);
      transition: transform 0.2s ease-in;
    }

    .training-content__title {
      display: flex;
      justify-content: space-between;
    }

    .collapse-item__toggler {
      border-radius: 5px;
    }

    .collapse-item__body {
      background: none;
      margin-left: 20px;
    }
  }

  &.show {
    .training-content-toggler__btn {
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
    }

    .training-content {
      background: rgba(255, 255, 255, 0.4);
      pointer-events: all;
    }

    .training-content__body {
      transform: translateX(0%);
    }
  }
}