@import "../variables";

.footer {
  margin-top: 60px;
  background-image: linear-gradient(250deg, #222222 0%, #000000 100%);
  padding: 94px 0;
  font-weight: bold;

  @include respond-to(md) {
    padding: 40px 25px;
  }

  .footer__logo {
    margin-bottom: 55px;
  }

  .footer__menu-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    margin-bottom: 50px;
    border-bottom: 1px solid #333333;

    @include respond-to(md) {
      flex-direction: column;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 20px;
      a {
        color: white;
        &:hover {
          text-decoration: none;
          color: #FB5A16;
        }
      }
    }
  }

  .footer__contacts {
    i {
      margin-right: 24px;
      color: #FB5A16;
    }
  }

  .footer__menu {
    height: 120px;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include respond-to(lg) {
      width: 60%;
    }

    @include respond-to(md) {
      width: 100%;
    }

    @include respond-to(sm) {
      height: 195px;
      margin-bottom: 48px;
    }
  }

  .footer__down {
    font-size: 12px;
    font-weight: 400;
    color: white;
    display: flex;

    a {
      color: #2A2A2A;
      text-decoration: underline;
      margin: 0 11px;

      &:hover {
        color: white;
        text-shadow: none;
      }
    }

    @include respond-to(lg) {
      flex-direction: column;
    }
  }

  .footer__copyright {
    @include respond-to(lg) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .footer__terms {
    display: flex;
    flex-wrap: wrap;

    a:first-of-type {
      margin-left: 22px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        right: -12px;
        top: 4px;
        width: 1px;
        height: 13px;
        background: #2A2A2A;
      }

      @include respond-to(sm) {
        margin: 0 11px;
        &:before {
          content: none;
        }
      }
    }

    @include respond-to(lg) {
      order: 1;
      justify-content: center;
      text-align: center;
    }

  }

  .footer__social {
    margin-left: auto;
    font-size: 20px;
    text-shadow: 2px 2px #FB5A16;

    @include respond-to(lg) {
      margin-right: auto;
      margin-bottom: 28px;
    }

    a {
      color: white;
    }
  }

  &.footer_no-margin {
    margin: 0;
  }
}