@import "../variables";

header {
  .navbar {
    height: 60px;
    background: black;
    padding: 0 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 40px;

    a {
      color: white;
      text-decoration: none !important;
      &:hover {
        color: #FB5A16;
      }
    }

    .navbar-links {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      @include respond-to(lg) {
        display: none;
      }

      li {
        padding: 0 14px;
      }
    }

    .navbar-profile {
      display: flex;
      align-items: center;
      width: 220px;
      justify-content: flex-end;

      .navbar-profile__coins {
        img {
          width: 14px;
          height: 14px;
        }
        margin-right: 20px;
      }

      .navbar-profile__level {
        background: #333333;
        border-radius: 999px;
        color: #FB5A16;
        padding: 3px 10px 4px 10px;
        margin-right: 20px;
      }

      .navbar-profile__avatar {
        cursor: pointer;
        img {
          width: 40px;
          height: 40px;
          border: 2px solid #FFFFFF;
          border-radius: 50%;
        }
      }

      @include respond-to(sm) {
        .navbar-profile__level, .navbar-profile__coins {
          display: none;
        }
      }
    }
  }

  .navbar-profile__dropdown {
    width: 215px;
    left: auto;
    right: -15px;
    padding: 10px 0;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.30);
    margin-top: 15px;

    &:before {
      content: "";
      background: white;
      position: absolute;
      width: 20px;
      height: 20px;
      top: -8px;
      right: 24px;
      transform: rotate(45deg);
    }

    a {
      color: #333333;
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;

      &:active {
        background: none;
      }

      .navbar-profile-dropdown__img-wrap {
        margin-right: 15px;
        width: 30px;
        text-align: center;
      }
    }
  }
}