@import "../../variables";

.index-courses {
  background: #FDF9F6;
  padding: 80px 0 260px 0;

  @include respond-to(md) {
    padding-top: 0;
  }

  .index-courses__container {
    position: relative;

    @include respond-to(md) {
      padding: 40px;
    }
  }

  .index-courses__html-icon {
    position: absolute;
    left: -100px;
    top: 125px;

    @include respond-to(lg) {
      left: -70px;
      top: 150px;
    }
  }

  .index-courses__css-icon {
    position: absolute;
    right: -115px;
    bottom: -25px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;

    @include respond-to(md) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .index-courses__tabs {
    margin-bottom: 50px;
    justify-content: center;

    .nav-item {
      margin: 0 25px;
    }

    a:not(.active) {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
    }

    a.active {
      color: #F83F29;
    }
  }

  .index-courses__text {
    padding: 0 55px;
    text-align: center;
    margin-bottom: 70px;

    @include respond-to(md) {
      padding: 0;
    }
  }

  .index-courses__check-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

    li {
      width: 410px;
      margin-bottom: 40px;

      @include respond-to(lg) {
        width: 275px;
      }

      @include respond-to(md) {
        width: 100%;
        flex-direction: column;

        &:before {
          margin-bottom: 15px;
        }
      }
    }
  }
}