@import "../../variables";

.index-diploma {
  display: flex;
  background: white;
  margin: -190px auto -190px auto;
  z-index: 2;
  position: relative;
  width: 1000px;
  padding: 50px 65px;

  @include respond-to(lg) {
    width: 728px;
  }

  @include respond-to(md) {
    width: 100%;
    flex-direction: column;
    padding: 25px 25px 40px 25px;
  }

  .index-diploma__body {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    margin-right: 65px;

    @include respond-to(md) {
      margin-bottom: 32px;
      margin-right: 0;
    }
  }

  .index-diploma__title {
    font-size: 32px;
    line-height: 39px;
    font-weight: bold;
    margin-bottom: 34px;
  }

  .index-diploma__image {
    width: 200px;
    height: 280px;
    flex-shrink: 0;
    background-image: linear-gradient(-225deg, #6EA1FF 0%, #001DFE 100%);

    @include respond-to(md) {
      width: 169px;
      height: 240px;
      margin: auto;
    }
  }
}