@import "../../variables";

.index-entry {
  position: relative;
  background: #333333;
  color: white;
  margin-top: -40px;
  padding-top: 80px;
  padding-bottom: 115px;
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0.20) 1%, rgba(0, 0, 0, 0.70) 98%),
  url('../images/entry-bg.jpg') no-repeat;
  background-size: cover;

  @include respond-to(md) {
    padding-top: 25px;
  }

  .index-entry__title {
    font-size: 46px;
    line-height: 55px;
    margin-bottom: 20px;
    font-weight: 900;

    @include respond-to(md) {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .index-entry__text {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
  }

  .index-entry__btn-play {
    img {
      width: 20px;
      margin: -10px 20px -5px -20px;
    }
  }

  .index-entry__btn-msg {
    position: absolute;
    bottom: 50px;
    right: 50px;

    @include respond-to(md){
      bottom: 25px;
      right: 25px;
    }
  }
}



