@import "../../variables";

.index-faq {
  background: linear-gradient(45deg, #F31542AA 0%, #FF7D00AA 100%), url('../images/code.jpg');
  background-size: cover;
  background-attachment: fixed;

  .index-faq__container {
    width: 1000px;
    padding: 100px 0 128px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to(lg) {
      width: 728px;
    }

    @include respond-to(md) {
      width: 100%;
      padding: 50px 15px 40px 15px;
    }
  }

  .index-faq__title {
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;

    @include respond-to(md) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }
}