@import "../../variables";

.index-feedback {
  background: white;

  .index-feedback__container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 95px 0 75px 0;
    color: black;

    @include respond-to(lg) {
      width: 530px;
      padding: 48px 0;
    }

    @include respond-to(md) {
      width: 100%;
      padding: 30px 20px;
    }
  }

  .index-feedback__title {
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 50px;

    .h2 {
      font-weight: 300;
      margin-bottom: 0;
    }

    @include respond-to(md) {
      padding: 0;
      align-items: flex-start;
      margin-bottom: 38px;
    }
  }

  .index-feedback__img {
    margin-right: 60px;

    @include respond-to(md) {
      width: 40px;
      margin-right: 30px;
    }
  }

  .index-feedback__form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include respond-to(lg) {
      flex-direction: column;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;

      .input {
        margin-bottom: 20px;
      }

      .input, .btn {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .index-feedback__terms {
    text-align: center;
    color: #AAAAAA;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .input {
    width: 220px;
    margin-bottom: 0;
  }
}