@import "../../variables";

.index-mentors {
  padding-top: 400px;
  padding-bottom: 128px;
  background-image: linear-gradient(-225deg, #222222 0%, #000000 100%);
  color: white;

  @include respond-to(md) {
    padding-top: 250px;
    padding-bottom: 68px;
  }

  .index-mentors__container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 60px;

    @include respond-to(lg) {
      width: 530px;
      padding: 0 48px;
    }

    @include respond-to(md) {
      width: 100%;
      padding: 0 30px;
    }
  }

  .index-mentors__title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    img {
      margin-left: -20px;
      margin-right: 45px;

      @include respond-to(md) {
        width: 38px;
        margin-left: 0;
        margin-right: 15px;
      }
    }

    @include respond-to(md) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 0;

    @include respond-to(md) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}