@import "../../variables";

.index-partners {
  background: white;
  padding-top: 30px;
  padding-bottom: 35px;

  @include respond-to(lg) {
    padding-top: 50px;
  }

  .index-partners__with-sup {
    color: #CCCCCC;
    margin-bottom: 15px;
    margin-top: -42px;
  }

  .index-partners__row {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .index-partners__mgtu-wrap {
    display: flex;
    align-items: center;
  }

  .index-partners__mgtu-title {
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
  }

  .index-partners__separator {
    width: 1px;
    height: 70px;
    background: #ffcdb7;
    transform: rotate(20deg);
    margin-right: 30px;

    @include respond-to(lg) {
      display: none;
    }
  }

  .index-partners__logos-wrap {
    display: flex;
    justify-content: space-between;
    width: 50%;

    @include respond-to(lg) {
      width: 75%;
      margin: 0 auto 40px auto;
      justify-content: space-around;
    }
  }

  .index-partners__fsi-logo {
    margin-top: 16px;

    @include respond-to(md) {
      display: none;
    }
  }

  .index-partners__items-wrap {
    display: flex;
    justify-content: space-between;
    width: 50%;

    @include respond-to(lg) {
      width: 100%;
      justify-content: space-around;
    }
  }

  .index-partners-item {
    width: 134px;
    text-align: center;

    @include respond-to(md) {
      display: none;
      &:nth-of-type(1) {
        display: block;
      }
    }

    .index-partners-item__value {
      color: #FB5A16;
      font-size: 34px;
      line-height: 41px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    .index-partners-item__text {
      font-size: 14px;
      font-style: italic;
    }
  }

}