@import "../../variables";

.index-perspectives {
  background: linear-gradient(-180deg, #FFFFFF 0%, #F6F6F6 100%);
  color: #222222;

  .index-perspectives__container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 60px 115px 60px;

    @include respond-to(lg) {
      width: 530px;
      padding: 80px 30px 115px 30px;
    }

    @include respond-to(md) {
      width: 100%;
      padding: 80px 30px 40px 30px;
    }
  }

  .index-perspectives__title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: black;

    img {
      margin-left: -65px;
      margin-right: 45px;

      @include respond-to(md) {
        width: 38px;
        margin-left: 0;
        margin-right: 15px;
      }
    }

    @include respond-to(md) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 0;

    @include respond-to(md) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}