@import "../../variables";

.index-stories {
  background: white;

  .index-stories__container {
    width: 1000px;
    padding: 100px 0 128px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-to(lg) {
      width: 728px;
    }

    @include respond-to(md) {
      width: 100%;
      padding: 50px 25px 40px 25px;
    }
  }

  .index-stories__title {
    width: 100%;
    text-align: center;
    color: #FB5A16;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;

    @include respond-to(md) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }
}