@import "../../variables";

.index-why-jscademy {
  padding-top: 110px;
  padding-bottom: 140px;
  background: linear-gradient(-180deg, #222222 0%, #000000 50%, #020202e0 100%), url('../images/code.jpg');
  background-position: center;
  color: white;

  @include respond-to(md) {
    padding-top: 40px;
    padding-bottom: 75px;
  }

  h2 {
    font-size: 34px;
    line-height: 41px;
    font-weight: 300;
    position: relative;

    @include respond-to(md) {
      font-size: 26px;
      line-height: 32px;
    }

    &:before {
      content: "";
      width: 40px;
      height: 40px;
      background-image: url(../images/icon-star.svg);
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      left: -70px;
      top: 5px;
      transform: rotate(-13deg);

      @include respond-to(md) {
        left: auto;
        right: -30px;
        top: auto;
      }
    }
  }

  .index-why-jscademy__header {
    margin-bottom: 120px;

    @include respond-to(md) {
      margin-bottom: 40px;
    }
  }

  .index-why-jscademy__advantages {
    margin-bottom: 70px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-to(md) {
      margin-bottom: 0px;
    }

    @include respond-to(md) {
      justify-content: center;
    }
  }
}